
*{
  margin: 0px;
  
}
body{
    background: url('https://images.alphacoders.com/238/238803.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    
}
.recipe-cards {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* grid-gap: 20px; */
    background-color: transparent !important;
    width: 100%;
    max-width: 100%;
    align-items: center;
    height: 700px;
  }
  
  
  .recipe-section {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;

  }

  .CardName{
    color: rgb(255, 255, 255) !important;
    border: none;
    text-align: center !important;
  }
  
  .Card-Img {
    
    height: 550px ;
    margin: 0px 15px 0px 15px;
    border: transparent;
    border-radius: 3% !important;
  }
  .ShowMore{
    /* width: 50%;
    height: 35em; */
    color: white;
    text-decoration: none;
  }
  
  /* .Carousel{
    color: white;
    background-color: transparent;
    
  } */
  
  .RecipeInfo{
    display: flex;
    flex-direction: column;
  }
  ul{
    background-color: rgba(108, 106, 84, 0.36);
    color: rgb(255, 253, 253);
    padding: 20px;
    padding-left: 10px;
    
  }
  .RecImg{
    height: 100%;
    width: auto;
    max-height: fit-content;
    /* border-top: solid rgb(242, 232, 89);
    border-right: solid rgb(242, 232, 89);
    border-bottom: solid rgb(242, 232, 89); */
    border-radius: 0px 50px 50px 0px;
  }
  .ingredients{
    height: 100%;
    /* border-top: solid rgb(242, 232, 89);
    border-left: solid rgb(242, 232, 89);
    border-bottom: solid rgb(242, 232, 89); */
    border-radius: 50px 50px 50px 5%;
    padding: 30px;
  }

  .RecipeBody{
    display: flex;
    flex-direction: row;
    /* padding-top: 30px; */
    height: 38rem;
    /* padding: 30px; */
    border-radius: 50px 50px 50px 50px;
    border:solid  #e3e2df;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .Row-ing{
    border-radius: 50px 50px 50px 50px;
    border:solid  #e3e2df;
    margin-bottom: 2rem;
  }

  .RecipeImg{
    height: 500rem;
    width: 1000px;
    border-radius: 50px 50px 50px 50px;
  }

  .CardBody{
    height: 150px;
    
  }
  
  
  .RecName{
    
    justify-content: center;
    color: #e3e2df;
  }
  .RecMethod{
    background-color: rgba(108, 106, 84, 0.36);
    color: rgb(255, 255, 255);
    padding: 30px;
    border:solid  #e3e2df;
    border-radius: 50px; 
  }
  .List-Cards{
    display: flex;
    flex-direction: row;
    width: 90% !important;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .BodyPart{
    display: flex ;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .card-image-wrapper {
    height: 300px; 
    overflow: hidden; 
  }
  .card-image {
    width: 100%; 
    height: 100%; 
    
  }

  .custom-navbar {
    background-color: rgb(0 0 0 / 32%); 
  }

  .carousel-image {
    height: 35rem;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    margin-bottom: 7rem;
    margin-top: 3rem;
  }

  .custom-bar{
    text-decoration: none;
  }


.AboutContainer{
  color: white;
  height: auto;
}
.AboutContainer{
  background-color: rgb(0 0 0 / 32%); ;
}
.AboutMyfoodbook{
  max-width: 90%;
}
.InputGroup{
  border: solid 3px transparent !important;
  border-radius: 25px 0px 0px 25px !important;
  
}
.SubsBtn{
  border: 3px transparent !important;
  border-radius:25px 25px 25px 25px !important ;
  margin: -20px !important;
  height: fit-content;
  align-self:center;
  width: 30%;
}
.SubsBtn :hover{
  transform: scale(1.3) !important;
}

.social-icons svg {
  fill: #3b5998; /* Facebook color */
  margin-right: 8px; /* Adjust the margin between icons */
}

.social-icons svg:hover {
  fill: #1877f2; /* Facebook hover color */
}
.social-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.logo{
  size: 10;
  margin: 20px;
  padding-bottom: 10px;
}
.SecCol{
  padding-top: 105px;
  
}

.TitleCol2{
  padding-top: 59px !important;
}

@media (max-width: 768px) {
  .TitleCol2{
    padding-top: 0px !important;
  }
  .SubsBtn{
    font-size: small !important;
    
  }
  .InputGroup{
    font-size: small !important;
    
  }
  
  }

  @media (max-width: 999px) {

    .SubsBtn{
      font-size: small !important;
      
    }
    .InputGroup{
      font-size: small !important;
      
    }
    
    }


  ul.list-inline li.list-inline-item a {
  text-decoration: none;
  color: white;
}

.margin-bot-form{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.cards-margin{

  margin-bottom: 10rem;
}
.Carousel-margin{
  margin-top: 5rem;
  margin-bottom: 10rem;
}

